<!-- global layout footer -->
<div class="layout__footer grid20">
    <div class="line g:1-21"></div>
    <div class="layout__footer-brand g:1-16 m:g:1-6">
        <div class="title">herc.se</div>
        <br>
        <div class="description">
            Welcome to the developer community auto build documentation site.
        </div>

    </div>
    <div class="layout__footer-menu g:1-21 m:g:6-21">
        <div class="layout__footer-menu-list">
            {%- include social.html -%}
        </div>
    </div>

    <div class="layout__footer-connection g:1-21 m:g:1-10">
        <div class="layout__footer-connection-item">
            <div class="">(mail)</div>
            <div class="">hi@herc.se</div>
        </div>
        <div class="layout__footer-connection-item">
            <div class="">(instrgam)</div>
            <div class="">@herc.se</div>
        </div>
        <div class="layout__footer-connection-item">
            <div class="">(twitter)</div>
            <div class="">@herc_se</div>
        </div>
        <div class="layout__footer-connection-item">
            <div class="">(phone)</div>
            <div class="">+886 979-563-790</div>
        </div>
    </div>

    <div class="layout__footer-copyright g:1-21">
        ©herc.SE 2021-
    </div>
</div>